{% extends 'blogs/base.html' %}
{% load static %}
{% block content %}

<div class="row" >

    <div class="col-sm-12">
        <h2 style="left: 0%; font-size: 2.5em;">
            Blog: {{ blog.title }}
        </h2>
        <div class="panel panel-danger">
            <div class="panel-heading" style="margin-left: 0px; ">
                <h3 style="font-size: 2vw;">
                    {{ blog.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'blogs:edit_blog' blog.id %}">
                            Edit blog</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body" style="font-size: 2vw; background: url('https://i.ibb.co/QmsjNcQ/p.jpg') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
	color: white;
  	background-color:#333; !important">
                {{ blog.text|linebreaks }}
            </div>
        </div> <!-- panel -->
    </div>
</div>



{% endblock content %}