{% extends "blogs/base.html" %}

{% block content %}
<h2>
    Blogs
</h2>
<ul>
    {% for blog in blogs %}
    <li>
        <!--<p>{{ blog.title }}</p>
        <p>{{ blog.date_added|date:'M d, Y H:i' }}</p>
        <p> {{ blog.text|linebreaks }} </p> -->
        <div class="panel panel-collapse link-blog">
                <h3><a href="{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a>
                <small class="author"> {{ blog.owner.username }} </small> </h3>
        </div>
        
    </li>
    {% empty %}
    <li>
        No blogs have been added yet.
    </li>
    {% endfor %}

</ul>
<button class="btn-add"><a href="{% url 'blogs:new_blog' %}">
    <h3 class="addblog">ADD A NEW BLOG</h3>
</a></button>


{% endblock content %}