{% extends "blogs/base.html" %}

{% block content %}
<h2>
    Blogs
</h2>
<div class="col-sm-8">
<ul>
    {% for blog in blogs %}
    <li>
        <!--<p>{{ blog.title }}</p>
        <p>{{ blog.date_added|date:'M d, Y H:i' }}</p>
        <p> {{ blog.text|linebreaks }} </p> -->
        <div class="panel panel-success panel-blog">
            <div class="panel-heading" style="font-size: 3vw;"><h3> {{ blog.title }}
                <small class="author" style="color: red;"> {{ blog.owner.username }} </small> </h3>
            <a href="{% url 'blogs:blog' blog.id %}"> View blog </a></div>
            
        </div>
        
        
    </li>
    {% empty %}
    <li style="color: ivory;">
        No blogs have been added yet.
    </li>
    {% endfor %}

</ul>
<button class="btn-add"><a href="{% url 'blogs:new_blog' %}">
        <h3 class="addblog" style="font-size: 2.5vw;">Add a new blog</h3>
    </a></button>
</div>



{% endblock content %}