body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
} 

.jumbotron {
        background-color: #2F4F4F;
        font-family: 'Alex Brush', cursive;
        text-emphasis-color: white;
    }